footer{
	.container{
		max-width: 1312px;
	}
}
.footer__container {
}
.footer__body {
	border-top: 1px solid rgba(48, 47, 43, 0.1);
	@include flexbox();
	justify-content: space-between;

	padding-top: 31px;
	padding-bottom: 32px;
}
.footer__author {
	font-weight: 400;
	font-size: 14px;

	color: rgba(48, 47, 43, 0.8);
}
.footer__menu {}
.footer__list {
	@include flexbox();

	li{
		margin-right: 50px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.footer__link {
	font-weight: 500;
	font-size: 14px;

	color: #302F2B;

	@media (min-width: 767px){
		position: relative;
		&:after{
			content: '';
			position: absolute;

			width: 0px;
			height: 1px;
			background-color: #22222b;

			left: 50%;
			bottom: -8px;
			transition: all 0.4s ease 0s;
		}
		&:hover{
			&:after{
				width: 40px;
				margin-left: -20px;
			}
		}
	};
}